<head>
<title>Baseline Captioner</title>
<link href="styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<h2>Baseline Captioning model and results</h2>
<p>Jump to <a href="#results"><i>Quantitative and Qualitative results</i></a></p>
<p>Jump to <a href="#conclusions"><i>Inferences & Conclusions</i></a></p>

<h3>Summary</h3>
<ul>
	<li>We have a dataset of 116 "Happy" faces with 3 emotion descriptions each.</li>
	<li>We train <a href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3325.pdf">Convolutional Image Captioning (CVPR 2018)</a> on this data to generate a description for a given input face image.</li>
	<li>We do not expect the model to perform well, but it is essential to have a baseline for our future experiments.</li>
	<li>It also helps us to understand the limitations of our dataset and also get a feel of the difficulty of the problem</li>
	<li>We report standard captioning metrics; qualitative results and finally, conclusions drawn from this exercise.</li>
</ul>

<h3>Model architecture and training details</h3>

<ul>
	<li><a href="http://openaccess.thecvf.com/content_cvpr_2018/CameraReady/3325.pdf">Convolutional Image Captioning (CVPR 2018)</a> : The model is a typical attention-based encoder-decoder architecture for Image Captioning, but instead of LSTM it uses a 1D-Convolution for decoding.
	<li>Achieves test scores on par with the usual LSTM-based model on the MS-COCO dataset.</li>
	<li>Has no extra nuts and bolts; was easy to understand and modify with no compromise in accuracy.</li>
</ul>

<h4>Dataset details</h4>
<ul>
	<li><b>116</b> images with 3 descriptions each. Split into <b>100</b> train and <b>16</b> validation.
	<li>To compensate for any possible bias in the results due to a small validation set size, we perform 6 fold cross-validation before reporting metrics.</li>
</ul>

<h4>Training hyperparameters</h4>
<ul>
	<li>Each training sample:
		<ul>
			<li>Face crop resized to 128 x 128</li>
			<li>Fixed length description of 15 words (padded when needed)</li>
		</ul></li>
	<li>Batch-size of 32; moderate data augmentation of horizontal flipping and 15` rotation performed.</li>
	<li>Optimized with RMSProp with initial LR 5e<sup>-5</sup> as used in the paper.</li>
	<li>Teacher-forcing was used as done in all the recent captioning models</li>
</ul>

<h4 id="results">Quantitative results</h4>

<p>We report results obtained by using different CNN encoders and Word embedding setups. The ones marked by <b>*</b> are setups that give meaningless results and do not learn anything. All results are obtained without using beam search.</p>

<table id="table1">
	<thead>
		<th colspan="2">Experiment</th>
		<th colspan="7">Metrics</th>
	</thead>
	<thead>
		<th>CNN encoder</th>
		<th>Word Embeddings</th>
		<th>BLEU-1</th>
		<th>BLEU-2</th>
		<th>BLEU-3</th>
		<th>BLEU-4</th>
		<th>METEOR</th>
		<th>ROGUE<sub>L</sub></th>
		<th>CIDer-D</th>
	</thead>
	<tr>
		<td>VGG frozen *</td>
		<td>Glove frozen *</td>
		<td>0.19</td>
		<td>0.01</td>
		<td>0.00</td>
		<td>0.00</td>
		<td>0.04</td>
		<td>0.12</td>
		<td>0.01</td>
	</tr>
	<tr>
		<td>VGG top block fine-tuned *</td>
		<td>Glove frozen *</td>
		<td>0.25</td>
		<td>0.05</td>
		<td>0.00</td>
		<td>0.00</td>
		<td>0.19</td>
		<td>0.06</td>
		<td>0.04</td>
	</tr>
	<tr>
		<td>VGG finetuned *</td>
		<td>Glove finetuned *</td>
		<td>0.21</td>
		<td>0.03</td>
		<td>0.00</td>
		<td>0.00</td>
		<td>0.16</td>
		<td>0.03</td>
		<td>0.03</td>
	</tr>
	<tr>
		<td>3 layer CNN trained from scratch</td>
		<td>Glove finetuned</td>
		<td>0.26</td>
		<td>0.05</td>
		<td>0.00</td>
		<td>0.00</td>
		<td>0.08</td>
		<td>0.22</td>
		<td>0.07</td>
	</tr>
	<tr>
		<td><b>3 layer CNN trained from scratch</b></td>
		<td><b>Random init. and trained from scratch</b></td>
		<td><b>0.33</b></td>
		<td><b>0.06</b></td>
		<td><b>0.00</b></td>
		<td><b>0.00</b></td>
		<td><b>0.08</b></td>
		<td><b>0.253</b></td>
		<td><b>0.09</b></td>
	</tr>
</table>

<h4>Qualitative results</h4>

<p>Descriptions generated by the "best" model for a set of <b>16 test images</b> from the above table are shown and compared with the <b>ground-truth descriptions (bold)</b>. </p><br>

<table id="table4">
	<tr>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/460. a11851332647db42878ca12f94b948d0c96eb1e0v2_hq_0.jpg" style="width: 100px; height: 100px;">
				<p><b>a a jovial smile showing looking shut that completely an malicious</b></p>
				<ul style="text-align: left;">
					<li>lost in thoughts with a bewildered look</li>
					<li>puzzled about something and trying to figure it out</li>
					<li>staring blankly in confusion and befuddlement and lack of understanding</li>
				</ul>

			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/316. my-reaction-when-everyone-is-really-into-the-game_408x408_0.jpg" style="width: 100px; height: 100px;">
				<p><b>staring suspiciously with doubt and fear</b></p>
				<ul style="text-align: left;">
					<li>thrilled with a jaw-dropping surprise</li>
					<li>extremely happy and overjoyed in an unexpected way</li>
					<li>sudden excitement and great joy and relief</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/435. med_1480539487_image_0.jpg" style="width: 100px; height: 100px;">
				<p><b>staring blankly with sarcasm and surprise</b></p>
				<ul style="text-align: left;">
					<li>a look of amusement and slight surprise</li>
					<li>listening keenly and paying attention to something of concern</li>
					<li>staring blankly at someone with doubt worry and slight fear</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/229. yiwy1_0.jpg" style="width: 100px; height: 100px;">
				<p><b>staring with shock surprise and mild</b></p>
				<ul style="text-align: left;">
					<li>face convulsed tight while trying to contain the extreme joy and delight</li>
					<li>a mischievous smile with excitement and eagerness</li>
					<li>smiling nefariously with mischievous intention</li>
				</ul>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/292. my-reaction-when-i-receive-a-good-grade_o_1326805_0.jpg" style="width: 100px; height: 100px;">
				<p><b>looking at something in a happy way of manner really</b></p>
				<ul style="text-align: left;">
					<li>speechless with shock and happy disbelief</li>
					<li>so shocked or surprised and unable to speak</li>
					<li>expressing extreme shock and surprise with raised eyebrows</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_7vp0eh_0.jpg" style="width: 100px; height: 100px;">
				<p><b>wide opened eyes expressing shock and surprise</b></p>
				<ul style="text-align: left;">
					<li>gazing with awestruck wonder</li>
					<li>becoming aware of something good and favourable</li>
					<li>general sense of happiness, excitement and some surprise</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_6aj2i9_0.jpg" style="width: 100px; height: 100px;">
				<p><b>happy and delighted and an happy and very</b></p>
				<ul style="text-align: left;">
					<li>a polite, formal, broad laughter during greeting that is mostly not out of real pleasure</li>
					<li>laughing out loud due to a favourable result</li>
					<li>laughing ecstatically at something while feeling proud</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_8wl0cw_0.jpg" style="width: 100px; height: 100px;">
				<p><b>feeling exhilarated after a fantastic surprise</b></p>
				<ul style="text-align: left;">
					<li>showing fake, sarcastic excitement and acting surprised</li>
					<li>shocked, excited and extrememly happy</li>
					<li>staring intrusively and discomfitingly with wide eyes</li>
				</ul>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_3w76zw_0.jpg" style="width: 100px; height: 100px;">
				<p><b>a look of weird due to sudden realization and understanding</b></p>
				<ul style="text-align: left;">
					<li>eyes wide and face lit up with intense desire</li>
					<li>eyes wide open in surprise and excitement</li>
					<li>smiling with great excitement and hope</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/338. 126000111-288-k263384_0.jpg" style="width: 100px; height: 100px;">
				<p><b>laughing confidently with clenched eyes</b></p>
				<ul style="text-align: left;">
					<li>subtle, enigmatic and mysterious half-smile</li>
					<li>a blank expression with an intention to conceal emotions</li>
					<li>staring suspiciously with intention to harm</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_5tyagy_0.jpg" style="width: 100px; height: 100px;">
				<p><b>amazed and stunned due to an interesting situation</b></p>
				<ul style="text-align: left;">
					<li>cheerful smile radiating warmth and affection</li>
					<li>a pleasant and calm smile due to a happy situation</li>
					<li>playfully cunning and nefarious smile with raised eyebrows</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/345. dca02c00-e6ee-4b8b-90e2-8781d3b119b1_0.jpg" style="width: 100px; height: 100px;">
				<p><b>a satisfied with UNK out with uncomfortable over</b></p>
				<ul style="text-align: left;">
					<li>mouth gaping with utter astonishment and extreme delight</li>
					<li>extremely shocked and surprised due to sudden realization of something unexpected</li>
					<li>sudden realization and great joy</li>
				</ul>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/273. 7317319a2c576672df688982b1f63cc0_0.jpg" style="width: 100px; height: 100px;">
				<p><b>a UNK smug smile</b></p>
				<ul style="text-align: left;">
					<li>naughty evil wide grin with wild delight</li>
					<li>a forced smile or laughter with lack of interest and involvement</li>
					<li>smiling awkwardly while being uncomfortable</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_7r6y5k_0.jpg" style="width: 100px; height: 100px;">
				<p><b>eyes wide open with disappointment and angst</b></p>
				<ul style="text-align: left;">
					<li>broadened and tightly shut lips with a casual, unimpressed look of disagreement</li>
					<li>understanding and accepting something after rigorous effort</li>
					<li>looking over someone or something with pride and great happiness</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/477. 0510263bb1f3d5872981a1805fa5dbb3685730-wm_0.jpg" style="width: 100px; height: 100px;">
				<p><b>staring and loud but derision at a is soft enthusiastic</b></p>
				<ul style="text-align: left;">
					<li>feeling ecstatic and loved after a wonderful surprise</li>
					<li>extremely surprised and fulfilled with happiness</li>
					<li>laughing widely with surprise, excitement and great joy</li>
				</ul>

			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/dataset/faces/t3_8baggh_0.jpg" style="width: 100px; height: 100px;">
				<p><b>smiling awkwardly in an drunken state</b></p>
				<ul style="text-align: left;">
					<li>casual smile of greeting</li>
					<li>a friendly and embracing smile</li>
					<li>weird, creepy and uncomfortable stare</li>
				</ul>
			</div>
		</td>
	</tr>
</table>

<h3 id="conclusions">Observations and Conclusions from this exercise</h3>

<a href="lessons_data_analysis_and_baseline.html" target="_blank">Please check this here</a>

<!-- 
<h4>Observations regarding the poor results above.</h4>

<ul>
	<li>One of the crucial problems is the absence of a good pre-trained face expression CNN encoder. We cannot expect to learn face emotions from scratch from 100 faces.</li>
	<li>The model severely overfits, as expected. But it gives us something to contrast future results with and see how far we have progressed.</li>
	<li>The model cannot predict words / phrases not present in the training data!</li>
	<li>I think that to an extent, decent generation using a captioning style framework should be achievable, with a good pre-trained face expression CNN</li>
</ul>

<h4>What else can we try to see if we can generate good captions?</h4>

<ul>
	<li>Train a face expression CNN on large face expression / emotion datasets.</li>
	<li>Removing identity / using face parts / facial landmarks to guide the model and prevent it from learning unnecessary features</li>
	<li>More captions per image that enable the metrics used above to measure descriptions accurately.</li>
</ul>

<h4>Is it good to move ahead with captioning?</h4>

<p>I think we need to obtain two important pieces of information to help us make this decision:</p>
<ul>
	<li>How does captioning perform when we have a good face expression CNN encoder?</li>
	<li>How good does a baseline retrieval model perform and what challenges does that exercise highlight?</li>
	<li>If we can retrieve captions well, I think we can associate each face to a set of key emotion concepts and compose a description from it.</li>
</ul> -->