<head>
<title>Rich Textual Descriptions of Emotions in Meme faces</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2>Summary of the conclusions after the all-team meet on Sep 6, 2018 </h2>

<p>A meme face is not adequately described by a single emotion label, instead describe the emotion in the meme face with a rich natural language sentence. Here are three examples:</p>


<table>
	<caption align="bottom"><b> Table 1:</b> Comparison of different levels of richness when describing faces</caption>
	<tr>
		<th>Face image</th>
		<th>Basic Emotion Label</th>
		<th>Fine-grained emotion label</th>
		<th>Natural Langauge description</th>
	</tr>
	<tr>
		<td><img src="files/face1.jpg" class="table_img"></td>
		<td>Happy</td>
		<td>Laughing</td>
		<td>Laughing hysterically in a mocking manner</td>
	</tr>
	<tr>
		<td><img src="files/face2.jpg", class="table_img"></td>
		<td>Fear</td>
		<td>Terrified</td>
		<td>Frozen with wide-eyed horror</td>
	</tr>
	<tr>
		<td><img src="files/face3.jpg", class="table_img"></td>
		<td>Anger</td>
		<td>Anger</td>
		<td>Anger laced with disgust depicted with a death stare</td>
	</tr>
</table>

<h3>Key points pertaining to the research direction decided above:</h3>
<ul style="margin-top: -7px;"> 
	<li>We can approach this as a fine-grained retrieval task, where top k descriptions are retrieved for a query face image.</li>
	<li>We will collect the dataset of meme faces with descriptions. </li>
	<li>Specifically, our final dataset would consist of <i>N</i> fixed text descriptions and fairly large number of face images associated to about <i>k</i> emotion descriptions.</li>
	<li>Hence, fine-grained classification / retrieval can be a good starting point, but we might be able to do more as well.</li>
	<li>Can we combine the meme text and the retrieved face description to deliver a coherent meme description?</li>
</ul>

<h3>From an application point of view: What kind of memes can be adequately described to the blind with the above problem statement?</h3>
<ul style="margin-top: -7px;"> 
	<li>With the above direction, <i>at minimum</i> we will be achieving the following: 
		<ul>
			<li>Describing the meme face emotion with a rich sentence.</li>
			<li>Reading out the meme text.</li>
		</ul>
	<li> This allows us to tackle a very popular class of memes called <i>Reaction Images</i>. Shown below are four examples of such memes, browse more 
			<a href="https://goo.gl/4Rqugj" target="_blank">here</a>.</li>
</ul>

<div class="img_row" style="padding-left: 20px;">
  <div class="img_column">
    <img src="files/mrw1.png" style="width: 100%; height: 400px;">
  </div>
  <div class="img_column">
    <img src="files/mrw2.png" style="width: 100%; height: 400px;">
  </div>
  <div class="img_column">
    <img src="files/mrw3.jpg" style="width: 100%; height: 400px;">
  </div>
  <div class="img_column">
    <img src="files/mrw4.jpg" style="width: 100%; height: 400px;">
  </div>
</div>

</body>
</html>
