<head>
<title>Data Explorer</title>
	<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
	<h2>Browse through the dataset; or search for a word / phrase below.</h2>
	<div style="width: 50%; margin: 0 auto;">
		<form onsubmit="return false" id="search_form" style="display: inline;">
			<input type="text" id="query" size="50">
			<input type="submit" name="Submit" value="Search" style="margin-right: 15px;">
		</form>
		<button id='reset'>Reset</button>
	</div>
	<br><h2 style="width: 30%; margin: 0 auto;" id="result_summary"></h2><br>
	
	<div id="data"></div>
	<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="dataset_vis.js"></script>
</body>