<head>
<title>Data Analysis</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>

<body>
<h2>Data Analysis and Inferences</h2>
<p>Jump to <a href="#agreement"><i>Analysing agreement across the three descriptions</i></a></p>
<p>Jump to <a href="#conclusions"><i>Inferences & Conclusions</i></a></p>

<h3>Summary of the data collection process:</h3>

<ul>
	<li><b>116</b> <i>Happy</i> faces were described with <b>3</b> emotion descriptions each. The dataset can be <a href="dataset_vis.html" target="_blank">explored here.</a></li>
	<li>The primary instruction is <i>Write an emotion description of at least 5 words and describe the facial expression, if only needed, to just supplement the emotion description.</i></li>
	<li>The annotators were shown only the face crop and were allowed to google for better words if they felt the need. For example: "synoym for happy" is "excited" will be more accurate for the face</li>
	<li>It was instructed to the annotators to imitate the face image to get a better understanding of the emotion. They found this very helpful for the task.</li>
	<li>Writing each description takes an average of 2 minutes.</li>
</ul>

<h3>Basic dataset statistics</h3>

<div style="float: left; height: 15% width: 100%; margin: 0 auto;">
	<img src="files/hist_img_res.png">
	<img src="files/vocab_plot.png" style="width: 1200px;">
	<br><br>
</div>
<div style="float: left; height: 15% width: 100%; margin: 0 200;">
	<table id="table1">
		<tr>
			<td>Median Image size</td>
			<td>142x142</td>
		</tr>
		<tr>
			<td>Minimum Image size</td>
			<td>68x68</td>
		</tr>
		<tr>
			<td>Maximum image size</td>
			<td>450x486</td>
		</tr>
	</table>
	<br><br>
</div>
<div style="float : left; height: 15% width: 50%; margin: 0 200;">
	<table id="table2">
		<tr>
			<th>Atrributes</th>
			<th>Annotator 1</th>
			<th>Annotator 2</th>
			<th>Annotator 3</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>Vocabulary size</td>
			<td>286</td>
			<td>304</td>
			<td>235</td>
			<td>545</td>
		</tr>
		<tr>
			<td>Median Length of description</td>
			<td>7</td>
			<td>8</td>
			<td>6</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Median Term Frequency</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
		</tr>
	</table>
</div>
<h3 id="agreement">Analysing agreement across the three descriptions</h3>

<p> In this section, we quantitatively measure the agreement of the <b>3</b> descriptions written for each face image.

<ul>
	<li>We follow the method employed in the <i> MS-COCO captions </i> paper and employ the standard metrics of Image Captioning to evaluate the agreement of captions.</li>
	<li>It is to be noted that automatically evaluating the agreement of two captions similar to human judgement is an active, unsolved problem in the Image Captioning domain.</li>
	<li>A couple of recent efforts <sup><a href="https://arxiv.org/abs/1806.06422" target="_blank">[1]</a></sup> <sup><a href="http://users.cecs.anu.edu.au/~sgould/papers/eccv16-spice.pdf" target="_blank">[2]</a></sup> have strived to devise better metrics.</li>
	<ul>
		<li><a href="https://arxiv.org/abs/1806.06422" target="_blank">[1]</a> trains a model to learn to evaluate captions; but it is trained on natural scenes in MS-COCO and it cannot be used for our face images.</li>
		<li><a href="http://users.cecs.anu.edu.au/~sgould/papers/eccv16-spice.pdf" target="_blank">[2]</a> constructs a scene graph using the captions; it could be potentially useful for our data, but I have not used it yet.</li>
	</ul>
</ul>

<h4>Overview of the method used to measure agreement:</h4>
<ul>
	<li>Out of the three captions for each image, we measure agreement of one caption by choosing the other two as reference (ground-truth) captions.</li>
	<li>We do this for all three captions and average the agreement score. 
	<li>Hence, the agreement score <b>S<sub>i</sub></b> of the set of <b>K</b> captions for a given image <i><b>i</b></i> using a metric <b><i>A</i></b> is:</li>
		<div style="width: 75%;"> $$ {S_i = \frac{1}{K} \sum^K_{i=1, \, j \neq i} A(c_i, C \setminus c_i)} \,\,\,\,\,\, \text{ where } C \text{ is the set of captions } $$ </div>
	<li>To compare fairly, we also consider only three captions per image in MS-COCO as well. The scores are shown below.</li>
</ul>

<h4>Results of the above method - Quantitative measures of agreement:</h4>
<div style="width: 65%; margin: 0 auto;">
	<table id="table3">
		<tr>
			<th>Metric</th>
			<th>Overview of the metric</th>
			<th>MS COCO c2</th>
			<th>Our dataset</th>
		</tr>
		<tr>
			<td>BLEU 1</td>
			<td>Unigram co-occurence</td>
			<td>0.51</td>
			<td>0.25</td>
		</tr>
		<tr>
			<td>BLEU 2</td>
			<td>Bigram co-occurence</td>
			<td>0.32</td>
			<td>0.07</td>
		</tr>
		<tr>
			<td>BLEU 3</td>
			<td>Trigram co-occurence</td>
			<td>0.20</td>
			<td>0.02</td>
		</tr>
		<tr>
			<td>BLEU 4</td>
			<td>4-gram co-occurence</td>
			<td>0.12</td>
			<td>0.00</td>
		</tr>
		<tr>
			<td>ROGUE<sub>L</sub></td>
			<td>Based on Longest Common subsequence (LCS)</td>
			<td>0.40</td>
			<td>0.18</td>
		</tr>
		<tr>
			<td>METEOR</td>
			<td>Uses WordNet synonyms while computing phrase co-occurences</td>
			<td>0.20</td>
			<td>0.09</td>
		</tr>
		<tr>
			<td>CIDEr-D</td>
			<td>Weighted TF-IDF similarity scores of n-grams</td>
			<td>0.84</td>
			<td>0.11</td>
		</tr>
		<caption><b> Table 3: Agreement scores across 3 captions in MS-COCO and our dataset</b></caption>
	</table>
</div>

<h4>Qualitative illustration and understanding the reason for the low agreement scores:</h4>

<table id="table4">
	<tr>
		<th>Our dataset</th>
		<th>MS COCO</th>
		<th>Comments</th>
	</tr>
	<tr>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/ours-1.jpg" style="width: 200px; height: 200px;">
				<ul style="text-align: left;">
					<li>thrilled with a jaw-dropping surprise</li>
					<li>extremely happy and overjoyed in an unexpected way</li>
					<li>sudden excitement and great joy and relief</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/coco-1.png" style="width: 400px; height: 300px;">
				<ul style="text-align: left;">
					<li>a desk with a lot of paperwork and some computers and laptops on it</li>
					<li>a desk containing several computers and other electronic devices.</li>
					<li>a very cluttered office desk with several different computers on it.</li>
					<li>two laptops that are sitting near two desktops.</li>
					<li>a small desk covered in papers and computers</li>
				</ul>
			</div>
		</td>
		<td style="width: 600px;">
			<ul style="text-align: left;">
				<li>Despite all our descriptions trying to convey the same mix of emotions; in our dataset, we use <b>0</b> common words.</li><br>
				<li>Notice how at least the nouns in the MS-COCO dataset repeat frequently across the captions.</li><br>
				<li>This could be one of the reasons why captioning models usually get objects right but visual relationships and actions wrong.</li><br>
				<li>Our dataset requires describing details that rarely has a single, commonly-used word, but in MS-COCO the words for objects / actions are common terms.</li><br>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/ours-2.jpg" style="width: 200px; height: 200px;">
				<ul style="text-align: left;">
					<li>subtle, enigmatic and mysterious smile</li>
					<li>A blank expression with an intention to conceal emotions</li>
					<li>staring suspiciously with intention to harm</li>
				</ul>
			</div>
		</td>
		<td>
			<div style="float: left; margin: 0 auto;">
				<img src="files/coco-2.png" style="width: 400px; height: 300px;">
				<ul style="text-align: left;">
					<li>a woman with a nose piercing and a star ring eats a hot dog.</li>
					<li>a close-up of a woman eating a hot dog.</li>
					<li>a girl with several rings on her fingers eats a hot dog.</li>
					<li>a woman witha nose stud eating a hotdog</li>
					<li>a close up of a person eating a hot dog</li>
				</ul>
			</div>
		</td>
		<td style="width: 600px;">
			<ul style="text-align: left;">
				<li>In this case, our third description conveys a perspective different from the first two.</li><br>
				<li>Our dataset allows widely diferent perspectives, hence needing more descriptions to get repetitive (hence, agreement) information.</li><br>
				<li>Notice in the MS-COCO sample however, that there is not a single annotator who deviates from describing the obvious</li><br>
				<li>This level of agreement across captions is very common in MS-COCO; if not, only slightly lesser.</li>
			</ul>
		</td>
	</tr>
</table>


<h3 id="conclusions">Inferences and Conclusions:</h3>

<a href="lessons_data_analysis_and_baseline.html" target="_blank">Please check this here</a>
<!-- 
<h4>Thoughts regarding low agreement scores compared to our MS-COCO dataset.</h4>
<ul>
	<li>The set of descriptions for a given image are incomplete, i.e., a fourth annotator has a high probability of adding new information. This has a few serious implications:
		<ul>
			<li>A model predicts a <b>new, valid</b> description but is penalized by the above automatic metrics used to measure the correctness of the description.</li>
			<li>Using these metrics in our experiments, we say model X is better than model Y and that we have made an improvement. But if the metrics don't correctly measure the quality of generated descriptions, because the reference descriptions it uses to do so are not exhaustive, then we are making wrong conclusions in our experiments</li>
			<li>The opposite is even more unfortunate, a case where we would have actually made an improvement but the metrics pointed out otherwise and we discard this actual improvement.</li>
		</ul></li>
	<li>High agreement scores will also tell us that our automatic metrics can judge descriptions accurately and can be relied upon.</li>
	<li>The agreement scores thus MUST be improved to have a reliable judgement of our future experiments (with the above metrics). This can be done by:
		<ul>
			<li>Adding more descriptions. This is the sure-shot way. All the above metrics will give much higher scores with each added description per image.</li>
			<li>Changing metrics that measure similarity.</li>
		</ul>
	</li>
	<li>While one might argue that agreement scores can be improved by restricting the vocabulary or having a template for composing descriptions; this is not easily justifiable as the only reason we are adding this constraint is to make our tasks easier and get higher agreement scores. It is also not in line with the motivation of the problem to generate rich descriptions.</li>
</ul>

<h4>Lessons learnt and what I should have done differently?</h4>
<ul>
	<li>Instead of having 10 faces with 3 descriptions each of "laughing" faces; I feel it is more important to have 3 faces of 10 descriptions each.</li>
	<li>This will help the automatic metrics to really say with high certainity that the model has gone wrong here.</li>
	<li>The annotators were allowed to google for better words while writing descriptions; I am unsure if this was a right thing to do.</li>
</ul>

<h4>Retrieval? Composition? Generation?</h4>
<ul>
	<li>The key problem during generation in our case is that the small number of descriptions and a median term frequency of <b>1</b> allows a description generator to generate descriptions without having to look at the image at each time step. That is, the generator (decoder) can memorize that a word <i>B</i> will occur after word <i>A</i> irrespective of what the image is. But, it will be good to have a baseline and experimental evidence and then form conclusions.</li> 
	<li>It seems possible to do cross-modal retrieval; a baseline for this will highlight the challenges in this as well.</li>
	<li>Composition is slightly unclear at this stage, but I see going from retrieval to composition more clearly than pure generation.</li>
</ul> -->