<head>
<title>Proposed approach fro data collection</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2>First data collection disussion; Starting pilot study</h2>

<table id="table1">
	<caption><b> Table 1: Three steps of Data Collection</b></caption>
	<tr>
		<th>Step No.</th>
		<th>Task</th>
		<th>Cost / Resource required</th>
		<th>Rough values of variables</th>
		<th>Specific Requirement</th>
	</tr>
	<tr>
		<td>1.</td>
		<td>Describe a small number of <i>M</i> images with <i>K</i> descriptions each.</td>
		<td>Low</td>
		<td><i>M</i> < 1500 ; <i>K</i> ~ 3</td>
		<td>Very good English proficiency</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>Merge similar ones from these <i>K * M</i> descriptions to get <i>N</i> text description classes</td>
		<td>Marginal, if curated by us</td>
		<td><i>N</i> < 500</td>
		<td>Manual Curation from our side</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>Classify a larger set of images <i>X</i> into these <i>N</i> description classes.</td>
		<td>Highest</td>
		<td><i>N</i> < 500 ; X - ??</td>
		<td>Need to lower <i>N</i> for lesser resource usage</td>
	</tr>
</table>

<br>
<p>As suggested by PK Sir, starting a pilot study to estimate cost and time for different <i>N</i>, <i>M</i>, <i>K</i>:</p>

<ul>
	<li>Planning to first annotate <i>M=200</i> images with <i>K=3</i> descriptions each. This requires at least 3 annotators with very good grasp of English.</li>
	<li>Will get an idea how varied the descriptions can be for each face, hence have accurate annotation guidelines for final full-scale annotation</li>
	<li>It will give us an approximate of how many unique description classes (N) we will have in the end.</li>
	<li>Will get approximate cost / image, which is largely dependent on <i>N</i>.</li>
</ul>

<br>
<p>Found out that Amazon Mechanical Turk Requester account isn’t available to Indian users. Surveyed other similar platforms:</p>

<ul>
	<li>Many reputed ones assure better annotation quality at almost the same / lesser prices than Mechanical Turk.</li>
	<li>Will have more information regarding these platforms by next week.</li>
</ul>