<head>
<title>Data collection progress</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2>Writing descriptions for a small set of face images of one major emotion.</h2>

<p><b>Aim:</b> Choose <i>M</i> images of a major emotion class and write rich descriptions for them. Why only one major class now?</p>

<ul>
	<li>As discussed with Prof. Jawahar on Oct 6, we will complete the entire project with one major class of emotion and repeat for the rest later.</li>
	<li>This allows us to move fast and understand the majority of the intricacies of the entire project before we commit to serious full-scale data collection.</li>
</ul>

<h3>Step 1 : Scraping for meme images</h3>

<ul>
	<li>Scraped the subreddits <a href="https://www.reddit.com/r/MRW/">/r/MRW</a> and <a href="https://www.reddit.com/r/mfw/">/r/MFW</a> to get 706 meme images.</li>
	<li>Obtained 596 meme images from <a href="https://www.google.co.in/search?q=my+reaction+when&newwindow=1&tbm=isch&tbo=u&source=univ&sa=X&ved=2ahUKEwiFwIvo0YXeAhUX3Y8KHYL8BYsQsAR6BAgDEAE">Google Image Search for <i>"my reaction when"</i></a></li>
	<li>A total of <b>1302 meme images were scraped</b>, shown below are a few samples.</li> <br>

	<div class="img_row" style="padding-left: 20px;">
	  <div class="img_column">
	    <img src="files/mrw1.png" style="width: 65%; height: 200px;">
	  </div>
	  <div class="img_column">
	    <img src="files/mrw2.png" style="width: 65%; height: 200px;">
	  </div>
	  <div class="img_column">
	    <img src="files/mrw3.jpg" style="width: 65%; height: 200px;">
	  </div>
	  <div class="img_column">
	    <img src="files/mrw5.jpg" style="width: 65%; height: 200px;">
	  </div>
	</div>

</ul>

<h3>Step 2 : Automated cleaning</h3>

<ul>
	<li>Using a face detection model with ~99% detection accuracy, segregated the memes with natural human face images. However, the model ends up detecting cartoon faces in a few cases.</li>
	<li>We discard faces with less than 64 pixels resolution as it is very hard to decipher the emotion from such a small image.</li>
	<li>Deduplication : For every pair of faces in the dataset, we discard one of them if their face embedding distance is less than 0.3. Through observation, it is found that this value ensures that we preserve faces not only of different identities, but also of same identity if they have a difference in face expression.</li>
	<li>After this process, we have a dataset of <b>724 faces</b>. Below are a few samples.</li><br>
	<div class="img_row" style="padding-left: 20px;">
	  <div class="img_column">
	    <img src="files/face1.jpg" style="width: 25%; height: 100px;">
	  </div>
	  <div class="img_column">
	    <img src="files/face2.jpg" style="width: 25%; height: 100px;">
	  </div>
	  <div class="img_column">
	    <img src="files/face3.jpg" style="width: 25%; height: 100px;">
	  </div>
	</div>
</ul>

<h3>Step 3 : Annotating each face with emotion labels</h3>

<ul>
	<li>We label each face with multiple labels from these 6 universal classes of emotion: <i>Happy, Surprise, Fear, Disgust, Anger and Sad.</i></li>
	<li>This is because a face in the wild is hard to be categorized into a single class.</li>
	<li>We also have an <i>Ambiguous</i> class, which is selected when the annotator simply cannot understand the exact face emotion without the context.</li>
	<li>If the face is not a natural human face image or is blurred or cropped incorrectly, the annotator skips the image by not choosing any label.</li>
	<li><a href="demo_annotation_ui.html" target="_blank">A demo of the annotation UI.</a></li>
</ul>

<h3>Step 4 : Annotatation results and choice of emotion class</h3>

<ul>
	<li></li><img src="files/label_dist_chart.png" style="width: 850px; height: 500px;"> <br>
	<li>We thus decide to write text descriptions for the images in "Happy" class of emotion</li>
</ul>

<h3>Step 5 : Writing text descriptions <p style="display: inline; color: #996600;">[In progress, will be updated on 20th Oct.]</p></h3>
