<head>
<title>Rich Textual Descriptions of Emotions in Meme faces</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2>Rich Textual Descriptions of Emotions in Meme faces</h2>

<h3>Current problem statement:</h3>
<p>Given a face image with vivid emotion and a database of face image and emotion description pairs, output a text description of the emotion in the face.</p>

<h3>Where are we?</h3>
<p>Tracking our progress towards the above goal can be done with the following major milestones:</p>
<ol>
	<li>Data Collection for "Happy" emotion class <p style="display: inline; color: #006600;">[Done!] <a href="dataset_vis.html" target="_blank">Explore dataset here</a></p></li>
		<ul>
			<li>Detailed <a href="data_analysis.html" target="_blank">data analysis</a> <p style="display: inline; color: #006600;">[Done!]</p></li>
		</ul>
	<li>Analyse and benchmark typical baseline solutions: <p style="display: inline; color: #cc6600;">[In progress]</p>
		<ul>
			<li>Image captioning baseline results and analysis. <p style="display: inline; color: #006600;">[Done!] <a href="baseline_cap.html" target="_blank">[Link]</a> </p> </li>
			<li>Pre-train CNN encoder with large face expression datasets and report improved baseline results. <p style="display: inline; color: #cc6600;">[In progress]</p> </li>
			<li>Cross-modal retrieval baseline <p style="display: inline; color: #cc6600;">[In progress]</p></li>
		</ul> </li>
	<li>Improving upon the above baselines with a new model. <p style="display: inline; color: #cc6600;">[Brainstorming]</p></li>
	<li>Results and Analysis.</li>
	<li>First draft of the paper.</li>
	<li>Decide on next steps.</li>
</ol>
<h3>Weekly updates:</h3>

<ul>
	<li><font class="date">Oct 30, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li>Each of 116 Happy faces described by 3 annotators. <a href="dataset_vis.html" target="_blank">Explore dataset here.</a></li> 
		<li>Data Analysis and observations <a href="data_analysis.html" target="_blank">here</a>.</li>
		<li>Baseline Image Captioning training details, results and observations posted <a href="baseline_cap.html" target="_blank">here</a>.</li>
		<li>Summary of lessons learnt and what we could do differently. <a href="lessons_data_analysis_and_baseline.html" target="_blank">[Link]</a></li>
		<!-- <li>My first attempt to combine existing descriptions and compose new ones is explained <a href="composing_attempt1.html" target="_blank">here</a>.</li> -->
	</ul>

	<li><font class="date">Oct 20, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li>Data collection yet to complete. Will have baselines and data analysis by next week.</li>
	</ul>

	<li><font class="date">Oct 13, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li><a href="data_collection_oct13.html" target="_blank">Data collection update</a> : Collected 1.3k faces; cleaned, emotion label annotation done; writing descriptions will be done by next week.</li>
		<li>Until last week, the plan was, after having a list of face images and description pairs, we merge very similar descriptions to form a set of description classes. Was doubtful whether this is the right thing to do.</li> 
		<li>A concise summary of Prof. Jawahar's feedback on why this is a terrible idea:
			<ul>
				<li>Wrong to modify / collect our dataset to fit a particular solution like "Fine-grained classification" or "Multimodal retrieval".</li>
				<li>The fact that there is a lot of semantic overlap across our dataset of face images and descriptions and not in other multimodal datasets like MS-COCO is something that is unique to our case and must be taken advantage of, not suppressed.</li>
				<li>Our problem is to output a description for a given face image; and the research starts when we try to come up with an approach that can learn from a dataset of just face and emotion description pairs.</li>
				<li>There is also no way to definitively argue whether it is right to merge a pair of similar descriptions into a single description class or not.</li>
				<li>Keep the problem and the solution(s) separate; don't be rigidly fixed to a solution from the early stages; keep options open to exploration.</li>
			</ul></li>
	</ul>

	<li><font class="date">Oct 6, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li>A <a href="more_complete_architecture.html" target="_blank">more complete model architecture</a> from previous week's rough model skeleton.</li>
		<li>Discussed data collection with PK sir, starting a pilot study as per his suggestion. <a href="data_collection_oct6.html" target="_blank">Details here.</a></li> 
		<li>Feedback by Prof. Jawahar for next week:
			<ul>
				<li>Write down the full plan concretely.</li>
				<li>Do the pilot study, but instead do for 1-2 types of emotions. Complete the whole process until the paper draft for these two types of emotions.</li>
				<li>Do the pilot study iteratively; learn from mistakes; tune annotation guidelines and in the end get proper descriptions.</li>
				<li>Write everything in the report like they will go in the final paper.</li>
			</ul></li>
	</ul>

	<li><font class="date">Sep 25, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li><a href="text_face_results.html" target="_blank">Text Recognition and Face Detection Results</a></li>
		<li>Have thought of <a href="model_skeleton.html" target="_blank">a rough model skeleton</a> that can extract semantically relevant emotion phrases from existing emotion class descriptions.</li> 
		<li>Feedback by Prof. Jawahar for next week: 
			<ul>
				<li>Things are shaping up.</li>
				<li>Let's figure out generating a sentence description later</li>
				<li>Start looking into data collection; discuss with Prof. PK regarding this.</li>
			</ul></li>
	</ul>

	<li><font class="date">Sep 14, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li> <a href="two_papers_summary.html" target="_blank">Detailed thoughts</a> on two most related papers to our problem. Both of them are efforts to capture more information from the faces than the six basic emotion labels. </li> 
		<li>The emotion description should convey the feelings / emotion of the person in the image without excessively focusing on the specifics of the facial expression.</li>
		<li>Important feedback by Prof. Jawahar for next week: 
			<ul>
				<li>Get basic models ready (text recognition, face detection)</li>
				<li>Stop scratching the surface and go into detail.</li>
				<li>Is there a way to compose new descriptions from existing set of descriptions for a query image?</li>
			</ul></li>
	</ul>

	<li><font class="date">Sep 6, 2018</font></li>
	<ul style="margin-bottom: 10px;">
		<li> The past month has been spent in coming up with research ideas and drafting proposals for each of them. Here's the <a href="files/Meme Project Research proposals (Prajwal).pdf" target="_blank">complete PDF</a> containing 10 proposals for reference. </li>
		<li> The closest proposal for this project: <a href="files/Learning diverse expressions and emotions from Reaction images.pdf" target="_blank"> Learning diverse expressions and emotions from Reaction images </a>. Our final direction extends this idea of moving away from six basic emotions even further. </li> 
		<li> A <a href="conclusions_6_sep.html" target="_blank"> brief summary of the final conclusions </a> after today's all-team meeting.  
	</ul>
	
	<!-- <li> <a href="related.html">Related Works</a> -->
</ul>

</body>
</html>
