<head>
<title>Lessons</title>
<link href="styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h2>Observations, Inferences and Conclusions after data analysis and training a baseline captioning model</h2>
	<h4>Thoughts regarding <a href="data_analysis.html#agreement" target="_blank">low agreement scores</a> in our dataset compared to our MS-COCO dataset.</h4>
	<p><i>To understand the below section regarding annotator agreement better, please check the above link before reading this section.</i></p>
	<ul>
		<li>The set of descriptions for a given image are incomplete, i.e., a fourth annotator has a high probability of adding new information. This has a few serious implications:
			<ul>
				<li>A model predicts a <b>new, valid</b> description but is penalized by the above automatic metrics used to measure the correctness of the description.</li>
				<li>Using these metrics in our experiments, we say model X is better than model Y and that we have made an improvement. But then....</li>
				<li>If the metrics don't correctly measure the quality of generated descriptions, because the reference descriptions it uses to do so are not exhaustive, then we are making wrong conclusions in our experiments</li>
				<li>The opposite is even more unfortunate, a case where we would have actually made an improvement but the metrics pointed out otherwise and we discard this actual improvement.</li>
			</ul></li>
		<li>High agreement scores will also tell us that our automatic metrics can judge descriptions accurately and can be relied upon.</li>
		<li>The agreement scores thus MUST be improved to have a reliable judgement of our future experiments (with the above metrics). This can be done by:
			<ul>
				<li>Adding more descriptions. This is the sure-shot way. All the above metrics will give much higher scores with each added description per image.</li>
				<li>Changing metrics that measure similarity.</li>
			</ul>
		</li>
		<li>While one might argue that agreement scores can be improved by restricting the vocabulary or having a template for composing descriptions; this is not easily justifiable as the only reason we are adding this constraint is to make our tasks easier and get higher agreement scores. It is also not in line with the motivation of the problem to generate rich descriptions.</li>
	</ul>

	<h4>Lessons learnt from data analysis and what I should have done differently...</h4>
	<ul>
		<li>Instead of having 10 faces with 3 descriptions each of "laughing" faces; I feel it is more important to have 3 faces of 10 descriptions each.</li>
		<li>This will help the automatic metrics to really say with high certainity that the model has gone wrong for this particular image.</li>
		<li><b>It seems more clear to me now that collecting a large dataset might be prohibitive:</b>
			<ul>
				<li>We need several descriptions per image to reach agreement; implies lesser number of faces we can afford to annotate</li>
				<li>Writing each description takes ~2 minutes and requires good English understanding.</li>
			</ul></li>
		<li>The annotators were allowed to google for better words while writing descriptions; I am unsure if this was a right thing to do.</li>
	</ul>

	<h4>Observations regarding the <a href="baseline_cap.html#results" target="_blank">poor results</a> with the baseline captioning model.</h4>
	<ul>
		<li>One of the crucial problems is the absence of a good pre-trained face expression CNN encoder. We cannot expect to learn face emotions from scratch from 100 faces.</li>
		<li>The model severely overfits, as expected. But it gives us something to contrast future results with and see how far we have progressed.</li>
		<li>The model cannot predict words / phrases not present in the training data!</li>
		<li>I think that to an extent, decent generation using a captioning style framework should be achievable, with a good pre-trained face expression CNN</li>
	</ul>

	<h4>What else can we try to see if we can generate good captions?</h4>

	<ul>
		<li>Train a face expression CNN on large face expression / emotion datasets.</li>
		<li>Removing identity / using face parts / facial landmarks to guide the model and prevent it from learning unnecessary features</li>
		<li>More captions per image that enable the metrics used above to measure descriptions accurately.</li>
	</ul>

	<h4>Retrieval? Composition? Generation?</h4>
	<p>I think we need to obtain two important pieces of information to help us make this decision:</p>
	<ul>
		<li>How does captioning perform when we have a good face expression CNN encoder? I think it might shed a new light.</li>
		<li>How good does a baseline retrieval model perform and what challenges does that exercise highlight?</li>
		<li>If we can retrieve captions well, I think we can associate each face to a set of key emotion concepts and compose a description from these keywords.</li>
	</ul>
</body>