<head>
<title>Rough model skeleton to compose new descriptions</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2> Rough model skeleton that can extract semantically relevant emotion phrases from existing emotion class descriptions</h2>

<h4>Current problem statement:</h4>
<p>Given a meme face image, do the following:</p>
<ol>
	<li>Retrieve top T emotion descriptions from the database that match the face emotion</li>
	<li>Compose a new emotion description for the given face that is a combination of the limited set of descriptions present in the database.</li>
</ol>

<h4>How will the dataset look like?</h4>
<ul>
	<li><i>N</i> face images</li> 
	<li>Each face associated to about <i>K</i> out of total <i>M</i> emotion description classes</li>
	<li><i>K</i> would be about 3 to 5.</li>
	<li><i>M</i> would be definitely less than 1000</li>
</ul>

<h4>Why compose new descriptions?</h4>
<ul>
	<li>It is very much possible to create a model to do fine-grained multimodal retrieval.</li>
	<li>For a given query image, if we can compose a new description by combining say, 4 emotion descriptions belonging to 4 such classes, then we will end up with a description that roughly describes emotion that is a mix of these 4 classes.</li>
</ul>

<h4>Key ideas that help to create a model skeleton:</h4>
<ol>
	<li>In our problem, there is a large overlap across several emotion classes.</li>
	<li>Given a query image <i>Q</i> and an image <i>I</i> with an emotion description <i>T</i> from the database:
		<ul>
			<li>Compute a face correlation matrix <i>S</i> between them that highlights common facial actions</li>
			<li>Use <i>S</i> to extract semantically relevant emotion phrase from <i>T</i></li>
		</ul>
	<li>Repeating for several <i>I</i>, <i>T</i> pairs in the database, we get a list of emotion phrases.</li>
	<li>Combine such phrases to compose a new description that captures a rich mixture of emotions.</li>
</ol>

<h4>Illustration:</h4>
<img src="files/skeleton.png">
<br>
<ul>
	<li>Shown above is an illustrative example for the rough model skeleton.</li>
	<li>S<sub>j</sub> is the face correlation matrix between <i>Q</i> and <i>I<sub>j</sub></i></li>
</ul>

<h4 style="display: inline;">Key issue:</h4> The above model extracts emotion phrases. It is currently unknown to us how to create a sentence conditioned on these emotion phrases.