<head>
<title>A more complete model skeleton</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>

<h3>Problem statement:</h3>
<p>Given a meme face image, do the following:</p>
<ol>
	<li>Retrieve top T emotion descriptions from the database that match the face emotion</li>
	<li>Compose a new emotion description for the given face that is a combination of the limited set of descriptions present in the database.</li>
</ol>

<h3>Typical multimodal architecture:</h3>

As shown in the figure below, typical multimodal retrieval architectures train using a pair of samples and minimize bi-directional max-margin loss. Their general structure is as follows:
<ul>
	<li>Visual Attention on the images and getting the Visual embeddings.</li>
	<li>Text Attention on the texts and getting the Textual embeddings.</li>
	<li>Minimizing bi-directional max-margin loss using these embeddings.</li>
	<li>This encourages the model to minimize distance between correct image-text pairs and maximize distance between incorrect pairs.</li>
</ul>

<img src="files/basic_mm_retrieval.png" style="width: 1200px; height: 400px;">

<br>
<br>
<h3>Key ideas for improvement & the model architecture:</h3>
<ul>
	<li>There is a lot of common features between classes and as described in the <a href="model_skeleton.html">last week's model skeleton</a>, we can use this fact to compose a description that captures a rich mixture of emotions from different classes.</li> 
	<li>But, maximizing distance between pairs of different classes does not help capture these common features.</li>
	<li>Therefore, during training, we propose two steps to remedy this:
		<ul>
			<li>Teach the model to associate the common features in the image pair to the common features in the text pair.</li>
			<li>Get disentangled text and visual embeddings for the input pairs by removing the common features and then teach the model to discriminate between these disentangled representations.</li>
		</ul></li>
	<li>The following figure depicts these two steps in action. Contrast this with the previous figure.</li>
	<br>
	<img src="files/more_complete_model.png" style="width: 1200px; height: 600px;">
	<br><br>
	<li>The model has to now learn common features across the classes which is not possible with max-margin loss.</li>
	<li>Further, as these common features are removed from the visual and text embeddings to create disentangled representations, it is also forced to choose the common features wisely; in other words, it has to preserve enough discriminatory features to differentiate between these two classes as well.</li>
</ul>