<head>
<title>Basic text and face pipelines</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2 style="display: inline;"> Text Recognition results </h2> <a href="#face_detection_results">(or skip and go to face detection results)</a>

<h3>Models used:</h3>
<ul>
	<li>An end-to-end TextSpotter with Explicit Alignment and Attention,<i>CVPR 2018</i> <a href="https://arxiv.org/pdf/1803.03474">(link)</a></li>
	<li>Tesseract 4 CRNN model <a href="https://github.com/tesseract-ocr/tesseract">(link)</a></li>
</ul>

<h3>Why train a text recognition model? Where do the existing models fall short?</h3>
<ul>
	<li>Existing SOTA text recognition models are bad at a particular type of font that is commonly found in memes: <i>Impact Font</i>.</li>
		<br>
		<div class="img_row" style="padding-left: 20px;">
  			<div class="img_column" style="width: 40%;">
				<img src="files/impact1.png" style="width: 50%; height: 30px;"> 
			</div>
 			<div class="img_column" style="width: 40%;">
 				<img src="files/impact2.png" style="width: 50%; height: 30px;">
 			</div>
 		</div>
 		<br>
	<li>At the later stages of this project, we would be focusing on memes with the above font.</li>
	<li>Hence, trained a Tesseract 4.0 OCR model to get 96% word recognition accuracy for this type of meme font. Refer <a href="#table1">Table 1</a>.</li>
	<li>Also, accuracy of <a href="https://arxiv.org/pdf/1803.03474">TextSpotter (CVPR 2018)</a> on generic memes without Impact Font is reported in <a href="#table2">Table 2</a>.</li>
</ul>
<br>
<table id="table1">
	<caption><b> Table 1: Text recognition results for Impact Font style memes</b></caption>
	<tr>
		<th>Model</th>
		<th>Training set size</th>
		<th>Testing set size</th>
		<th>Word recognition accuracy (with punctuation)</th>
		<th>Word recognition accuracy (w/o punctuation)</th>
	</tr>
	<tr>
		<td>TextSpotter (CVPR 2018)</td>
		<td>NA</td>
		<td>600</td>
		<td>61.82</td>
		<td>62.6</td>
	</tr>
	<tr>
		<td>Tesseract 4 CRNN model</td>
		<td>6500</td>
		<td>600</td>
		<td><b>95.68</b></td>
		<td><b>97.2</b></td>
	</tr>
</table>

<h3>Text Recognition pipeline for Impact Font style memes</h3>

<p>Points to note:</p>
<ul>
	<li>No bounding box annotation available for training, so thought of a workaround for this</li>
	<li>Ground truth text is available separately for top text and bottom text, each of which span for several lines</li>
	<li>Tesseract 4 requires each training sample as a single line of text image along with its corresponding ground truth annotation.</li>
</ul>

<pre>		<b style="font-size: 18">Step 1</b>									<b style="font-size: 18">Step 2</b>										<b style="font-size: 18">Step 3</b></pre>
<img src="files/text_pipeline.png" style="width: 1700px; height: 350px;">

<h4>Step 1:</h4>

<ul>
	<li>Used <a href="https://arxiv.org/pdf/1704.03155">EAST text detector (CVPR 2017)</a> to detect text regions</li>
	<li>Set the NMS score and Box threshold score to low values to ensure the entire text is detected without a single letter missing</li>
</ul>

<h4>Step 2:</h4>

<ul>
	<li>Merged detected text boxes to get a single line bounding box</li>
	<li>Artificially merged text lines to be able to feed them into Tesseract CRNN model at once</li>
	<li>The above has to be done because we do not have line-wise ground truth, only for entire top / bottom text.</li>
</ul>

<h4>Step 3:</h4>

Trained a CRNN model with Tesseract 4. Hyper-parameters:
	<ul>
		<li>Input text line image dimensions: 32 x 64</li>
		<li>Two 5x5 Convolution layers with filters 16, 32</li>
		<li>Followed by One 3x3 Max-Pooling layer</li>
		<li>Three Bidirectional LSTM layers with hidden dimensions 32, 64, 128</li>
		<li>CTC loss with vocabulary size 68 characters.</li>
		<li>Trained for 15k iterations for 6 hours on a CPU</li>
	</ul>

<br>
<p>Lastly, Table 2 reports the recognition results using TextSpotter (CVPR 2018) for generic memes without Impact Font. Training on this can be done later if necessary; as it takes some time and effort to synthesize clean training data for this.</p>
<br>

<table id="table2">
	<caption><b> Table 2: Text recognition results for generic memes without Impact Font</b></caption>
	<tr>
		<th>Model</th>
		<th>Training set size</th>
		<th>Testing set size</th>
		<th>Word recognition accuracy (with punctuation)</th>
		<th>Word recognition accuracy (w/o punctuation)</th>
	</tr>
	<tr>
		<td>TextSpotter (CVPR 2018)</td>
		<td>NA</td>
		<td>200</td>
		<td>80.47</td>
		<td>82.1</td>
	</tr>
</table>

<h2 id="face_detection_results">Face Detection Results</h2>

<ul>
	<li>Only prediction using existing model is done as the accuracy is already sufficiently good.</li>
	<li>Used ResNet-34 pretrained on several public face detection datasets as part of the <i>dlib</i> framework.</li>
	<li>Tested on 200 memes with human faces collected from Google images</li>
	<li>Was able to detect faces in 198 of them. Thus <b>99%</b> accurate.</li>
	<li>One point to note is that it sometimes detects cartoon faces as well which we might not want.</li>
</ul>