<head>
<title>Rich Textual Descriptions of Emotions in Meme faces</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
<h2> Two recent efforts to capture more emotion information from face images </h2>

<h3>Papers discussed below:</h3>
<ul><li>EmotioNet: An accurate, real-time algorithm for the automatic annotation of a million facial expressions in the wild, <i>CVPR 2016.</i> <a href="https://cbcsl.ece.ohio-state.edu/cvpr16.pdf">(link)</a></li>
	<li>AffectNet: A Database for Facial Expression, Valence, and Arousal Computing in the Wild, <i>IEEE Transactions on Affective Computing, 2017</i> <a href="https://arxiv.org/pdf/1708.03985">(link)</a></li>
</ul>

<h3> Why do these papers require specific attention? </h3>
<p> As we set forth on the task of describing face emotions with natural language sentences, I think we are (roughly) proposing a new, more natural way to describe emotion in face images. It is thus necessary to survey the long-standing <i>three</i> most popular models of emotion to understand where our model can be better and where it will fall short. Each of the above papers propose a large-scale dataset for one of the latter two models listed below.    

<ol>
	<li>Discrete model</li>
	<li>Facial Action Coding System</li>
	<li>Valence-Arousal model</li>
</ol>

<h4> Discrete Model: </h4>
<ul>
	<li>Each face is described with one of the usual six universal basic emotions: <i>anger, happiness, surprise, disgust, sadness, and fear.</i></li>
	<li><u>Pros:</u></li>
		<ul>
			<li>Easy to create a large dataset</li>
			<li>The label can be easily conveyed to the end user. Constrast this with the Valence-Arousal model.</li>
		</ul>
	<li><u>Cons:</u></li>
		<ul>
			<li>For a given face in the wild, two humans will disagree on the emotion label 50% of the time! (emperically shown in the <i>AffectNet</i> paper mentioned above) </li>
			<li>The model cannot describe fine-grained emotions; the previous point is one of the consequences of this fact. </li>
			<li>The high level of inadequacy to get a concrete emotion label for faces in the wild makes this unsuitable for meme images.</li>
		</ul>
</ul>

<h4> Facial Action Coding System and the EmotionNet paper:</h4>
<ul>
	<li>Each face image is labeled with multiple Action Units (AU) that indicate the presence of a specific facial muscle movement.</li>
	<li>A combination of certain muscle movements (facial actions) lead to a particular emotion.</li>
	<li> <a href="https://cbcsl.ece.ohio-state.edu/cvpr16.pdf">EmotionNet (CVPR'16)</a> is the first attempt in creating a large dataset of about 1M images for emotion recognition.</li>
	<li>While there are a total of 98 AUs known, the paper creates a database with the list of only 11 AUs and their corresponding emotion combinations:</li> 
		<div class="img_row" style="padding-left: 20px;">
  			<div class="img_column" style="width: 40%;">
				<img src="files/au.png" style="width: 100%; height: 300px;"> 
			</div>
 			<div class="img_column" style="width: 40%;">
 				<img src="files/au2emotions.png" style="width: 100%; height: 300px;">
 			</div>
 		</div>
 	<li>The paper proposes a novel algorithm to <b>automatically</b> label 1M face images with AUs with an accuracy of 81%</li>
 	<li>100k faces are annotated manually with AUs by expert annotators after several sessions of training. Annotating each image takes a lot of time as well. Thus creating a large manually annotated dataset is prohibitively resource-intensive for this emotion model.</li>
 	<li><u>Implications for our project:</u></li>
 		<ul>
 			<li>Our task of classifying faces into emotion descriptions is even more time-consuming than AU annotation, but it does not require trained experts.</li>
 			<li>AUs for faces are analogous to attribute-based approaches in fine-grained classification. They give a list of facial muscle movements as attributes. And presence of 3-4 AUs give a specific emotion label. Our descriptions must be more abstract, richer and natural.</li>
 			<li>This model is not at all subjective. The AUs are concretely visible in the image without question. Our approach will be very subjective. </li>
 		</ul>
</ul>

<h4> Valence-Arousal model and the AffectNet paper:</h4>
<ul>
	<li>Each image is labeled with a “Valence” & “Arousal”. Valence refers to how positive or negative the emotion is, and Arousal refers to the intensity of emotion.</li>
		<img src="files/va.png" style="width: 500px; height: 500px;"> 
	<li> <a href="https://arxiv.org/pdf/1708.03985">AffectNet (Affective Computing'17)</a> is the first to present a large-scale dataset for this model of emotion</li>
	<li>Dataset contains:
		<ul>
			<li>450k faces in the wild labeled with Valence & Arousal values in the range of [ -1, 1 ].</li>
			<li>To demonstrate the usefulness of a continuous model, they also have the usual 6 categorical emotion labels for all the 450k images.</li>
			<li>1M faces labeled with 68 facial landmarks.</li>
		</ul></li>
	<li><u>Points to note & Implications for our project:</u></li>
		<ul>
			<li>Each face was annotated only by one expert. This leads to a very noisy annotation for every image.</li>
			<li>36000 images were labeled by two experts with Valence and Arousal values. The error of disagreement is 0.34 and 0.36 respectively, which is quite high. To put this disagreement in perspective, a simple AlexNet fine-tuned to predict Valence and Arousal values achieves the same error rate. </li>
			<li>It is noted that still images without context are very ambiguous for understanding subtle emotions.</li>
			<li>Two numeric values of Valence and Arousal are difficult to convey to end user. Emotion labels don’t have this problem. Our approach also doesn't have this problem.</li>
		</ul>
</ul>